body {
  margin:0;
}
.ih-coming-soon-banner {
  background: rgba(213, 213, 213, 0.59);
  #coming-soon {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    .banner {
      background: #53a33f;
      img {
        width: 100%;
        position: relative;
      }
    }
    .count-area {
      position: absolute;
      top: 40%;
      right: 0;
      left: 0;
      text-align: center;
      font-size: 45px;
      font-weight: 600;
      @media screen and (max-width: 480px ) {
        top: 25%;
        font-size: 35px;
        h1 {
          font-size: 30px;
        }
      }
    }
  }
  .banner-text {
    min-height:75px;
    width:100%;
    z-index:999;
    text-align:center;
    position: relative;
    padding: 10px 0;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -8px;
      background-repeat: repeat;
      height: 10px;
      background-size: 6px 20px;
      background-image: -webkit-radial-gradient(10px -5px, circle, transparent 12px, #dedede 13px);
      background-image: -o-radial-gradient(10px -5px, circle, transparent 12px, #dedede 13px);
      background-image: radial-gradient(circle at 10px -5px, transparent 12px, #dedede 13px);
    }
    h3 {
      margin:25px;
    }
    .ihcs-cta {
      a {
        display: inline-block;
        padding: 10px 20px;
        background: #53a33f;
        color: white;
      }
    }
  }
}
